/* Reset */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  /* Colors */
  --primary-100: hsl(3, 100%, 95%);
  --primary-200: hsl(3, 100%, 81%);
  --primary-300: hsl(3, 100%, 72%);
  --primary-400: hsl(3, 100%, 63%);
  --primary-500: hsl(3, 100%, 53%);
  --primary-600: hsl(3, 87%, 43%);
  --primary-700: hsl(3, 88%, 32%);
  --primary-800: hsl(3, 87%, 21%);
  --primary-900: hsl(3, 89%, 11%);
  --gray-100: hsl(220, 14%, 96%);
  --gray-200: hsl(220, 13%, 91%);
  --gray-300: hsl(216, 12%, 84%);
  --gray-400: hsl(218, 11%, 65%);
  --gray-500: hsl(220, 9%, 46%);
  --gray-600: hsl(215, 14%, 34%);
  --gray-700: hsl(217, 19%, 27%);
  --gray-800: hsl(215, 28%, 17%);
  --gray-900: hsl(221, 39%, 11%);

  --button-background-color: var(--primary-400);
  --button-background-color-hovered: var(--primary-300);
  --button-outlined-color: var(--primary-400);
  --button-outlined-color-hovered: var(--primary-900);
  --button-outlined-color-pressed: var(--primary-800);
  --input-outline-color: var(--primary-200);
  --input-background-color: var(--gray-800);

  /* Spatial */
  --input-height: 3rem;
}

/* Typography */

h1 {
  font-size: 2.5rem;
}

.hero p {
  font-size: 1.25rem;
}

/* Containers */

body {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background: var(--gray-900);
  font-family: "Azeret Mono", monospace;
  font-weight: 500;
  color: var(--primary-100);
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: fit-content;
  padding: 4rem;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.hero__heading {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.text--hero {
  font-weight: 900;
}

.text--graphic {
  display: block;
  color: var(--primary-400);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.line-divider {
  width: 100%;
  border-top: 0.125rem solid var(--gray-600);
  color: transparent;
}

.passwords {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.input-copy {
  display: flex;
  gap: 0.5rem;
}

.input-copy > .input {
  flex-grow: 1;
}

/* Buttons */

.btn {
  border: none;
  border-radius: 0.25rem;
  height: var(--input-height);
  padding: 0 1rem;
  background: var(--button-background-color);
  color: var(--gray-900);
  font-family: "Azeret Mono", monospace;
  font-size: 1.125rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.btn:hover {
  background: var(--button-background-color-hovered);
}

.btn:active {
  background: var(--primary-200);
}

.btn:focus {
  outline: 0.25rem solid var(--input-outline-color);
}

.btn--outlined {
  background: transparent;
  border: 0.125rem solid var(--button-outlined-color);
  color: var(--button-outlined-color);
}

.btn--outlined:hover {
  background: var(--button-outlined-color-hovered);
}

.btn--outlined:active {
  background: var(--button-outlined-color-pressed);
}

.btn--icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn--icon span[class^="icon-"] {
  font-size: 1.25rem;
}

/* Inputs */

.input {
  border: none;
  border-radius: 0.5rem;
  height: var(--input-height);
  background: var(--input-background-color);
  padding: 0 1rem;
  color: var(--primary-100);
  font-family: "Azeret Mono", monospace;
  font-size: 1rem;
  font-weight: 500;
}

.input:focus {
  outline: 0.125rem solid var(--input-outline-color);
}

.input::placeholder {
  color: var(--gray-400);
}

/* Custom checkbox */

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Pointer cursor */
input[type="checkbox"] + span {
  cursor: pointer;
}

/* Unchecked */
input[type="checkbox"] + span::before {
  display: inline-block;
  margin-right: 0.75rem;
  border-radius: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--input-background-color);
  vertical-align: middle;
  content: "";
}

/* Checked */
input[type="checkbox"]:checked + span::before {
  background-image: url("../assets/svg/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5rem;
  background-color: var(--button-background-color);
}

/* Outline on hover and focus */
input[type="checkbox"]:focus + span::before,
input[type="checkbox"]:not(:disabled) + span:hover::before {
  outline: 0.125rem solid var(--input-outline-color);
}

/* Disabled */
input[type="checkbox"]:disabled + span {
  opacity: 0.5;
  color: var(--gray-600);
  cursor: default;
}

/* IcoMoon webfont */

@font-face {
  font-family: "lucide";
  src: url("../assets/fonts/lucide.woff?3s92bv") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "lucide" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e900";
}
.icon-copy:before {
  content: "\e901";
}
